.App {
  width: 80%;
  margin: 5% auto;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.movies-container h2 {
  font-size: 0.8rem;
  color: whitesmoke;
}

.movies-container img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.movies-container img:hover {
  transform: scale(1.05);
}

.charging-layout {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.spinner {
  font-size: 3rem;
  color: whitesmoke;
  animation: spinnerRotation 3s linear infinite;
}

.platforms {
  font-size: 0.7rem;
  color: rgba(245, 245, 245, 0.76);
  margin-bottom: 5px;
}

.platforms span {
  margin-right: 5px;
}

@keyframes spinnerRotation {
  to {
    transform: rotate(360deg);
  }
}
